body{
    font-family: Verdana, 'Times New Roman';
    background: #000;
    color: #FFFFFf;
    margin: 25px 25px 0px; 
}

h1 {
 font-size: 48px; 
 text-align: center;
 padding: 15px;
}

h2{
font-size: 32px;
text-shadow: 2px 4px #808080;

}

p{
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 15px;

}

img{
   width: 350px;
   display: block;
   margin: 0 auto;
   border: 10px dashed #FFFFFf;
}

div{
    height: 100px;
    padding: 20px;
    border: solid 3px #FFFFFf;
}
.intro{
    border-radius: 15px;
    margin-top: 15px;
}

.red{
    min-height: auto;
    background-color:#FF0000;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 3px 10px;
}
.blue{
    background-color:#0000FF;
    text-align: left;
    margin-right: 50px;
    border-width: 0px 10px 3px 0px;
}
.yellow{
    background-color:#FFFF00;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 3px 10px;
    color: #000;
    
}
.yellow h2{
    text-shadow: 2px 4px #c7e2c7;
    color: #000;
}

.green{
    background-color:#008500;
    text-align: left;
    margin-right: 50px;
    border-width: 0px 10px 3px 0px;
}
span{
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: none;
}
footer{
    background-image: radial-gradient(circle, #000000 0%, #0000FF 25%, #0066ff 70%, #000000 100%);
    text-align: center;
    
}
footer p{
    
    
    font-size: 20px;
    padding: 10px 10px 10px 0px;
}

